body {
    background-image: url('media/pexels-tuesday-temptation-3780104.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
}

footer{
    background-color: azure;
    width: 100%;
    height: 7em;
    color: #d2add2;
    background-color: #3c2f49;
}

li{
    display: inline;
    padding-right: 3em;
    text-align: center;
    font-size: x-large;
}

.footer{
    list-style: none;
    margin-top: 50%;    
    padding-top: 3em;
  
}


.names{
    padding-left: 33em;
}

.logo{
    width: 12%;
    margin-left: 43em;

}

.card-section{
    background-color: aliceblue;
    position: relative; 
    margin: 5em;   
}

.card-section2 {
    position: relative; 
    margin: 10em; 

} 


.card-li{
    width: 220px;
    height: 310px;
    border-radius: 9px;
}

.back{
    width: 124px;
    height: 250px;
    margin-right: -150px;
    border-radius: 9px;
    opacity: 0.88;
}

.card-li2 img:hover{
    opacity: 5;
    position: relative;
    top: -10px;
    cursor: pointer;
}

button{
    border-radius: 12px;
    background-color: #d2add2;
    color: #3c2f49;
    padding: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-left: 36em;
}

